/* colors */
$white: #fff;
$light-grey: #e9e7e7;
$white-grey: #f8f8f8;
$opacity-blue: rgba(0, 119, 181, 0.12);
$light-blue: #53aeeb;
$sky-blue: #7bc5f7;
$middle-blue: #3c8cc2;
$main-blue: #0077b5;
$light-black: #353a3e;
$opacity-grey: #8a8a8a;
$middle-grey: #cecaca;
$silver: #747474;
$dark-grey: #48535a;
$deep-grey: #363f45;
$light-silver: #4a4a4a;
$deep-red: #d46c6c;
$almost-black: #221e22;
$error-red: #d0021b;

/* screen sizes */
$mobile-width: 640px;
$tablet-width: 1200px;
$desktop-width: 1440px;

